@charset "UTF-8";
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}

.header {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.header__img {
  width: 68px;
  height: 68px;
  cursor: pointer;
}
.header_fixed {
  transition: all 0.5s ease;
}
.header__button {
  cursor: pointer;
  padding: 15px;
  border: 2px solid #73354a;
  border-radius: 15px;
  transition: all 0.2s ease;
  background: #fff;
  color: #000;
}
.header__button:hover {
  transition: all 0.2s ease;
  background: #73354a;
  color: #fff;
}
.header__link {
  margin: 0 10px;
  color: #73354a;
}
.header__btn {
  width: 24px;
  height: 24px;
  position: relative;
  border: none;
  background: transparent;
  right: 50px;
  cursor: pointer;
}
.header__btn-sun {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.header__btn-moon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.header__whatsapp {
  cursor: pointer;
  position: relative;
  top: 10px;
  right: 50px;
  z-index: -1;
  background: transparent;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.header__whatsapp-img {
  width: 30px;
  height: 30px;
  background-image: none;
  background: transparent;
}
.header__telegram {
  cursor: pointer;
  position: relative;
  top: 10px;
  right: 150px;
  z-index: -1;
  background: transparent;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.header__telegram-img {
  width: 30px;
  height: 30px;
  background-image: none;
  background: transparent;
}

.sun {
  display: block;
}

.moon {
  display: none;
}

.active {
  transition: all 0.3s ease;
  transform: translateY(50px);
}

#hero {
  height: 100vh;
  background: url(../img/п.jpg) no-repeat center/cover;
}

.hero {
  padding-top: 107px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__wrap {
  width: 600px;
}
.hero__title {
  padding-top: 107px;
  padding-left: 70px;
  font-family: OpenSans, sans-serif;
  font-size: 100px;
  font-weight: 200;
}
.hero__linked {
  display: none;
}
.hero__subtitle {
  position: relative;
  font-family: OpenSans, sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 50px;
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.menu__title {
  position: relative;
  font-size: 55px;
  font-family: OpenSans, sans-serif;
  font-weight: 500;
}
.menu__food {
  position: relative;
  border: 2px solid #73354a;
  width: 200px;
  height: 300px;
  border-radius: 20px;
  margin: 0 10px;
}
.menu__food-pizza {
  position: relative;
  width: 180px;
  height: 125px;
  top: 20px;
  left: 10px;
}
.menu__subtitle {
  font-family: OpenSans, sans-serif;
  font-weight: 500;
  position: relative;
  top: 20px;
  left: 55px;
}
.menu__sell {
  font-family: OpenSans, sans-serif;
  font-weight: normal;
  margin: 20px 0 0 30px;
}
.menu__btn {
  margin: 20px 0 0 57px;
  border: 2px solid #73354a;
  transition: all 0.3s ease;
  padding: 10px 15px;
  border-radius: 20px;
  background: #fff;
}
.menu__btn:hover {
  transition: all 0.3s ease;
  background: #73354a;
  color: #fff;
}
.menu__wrapper {
  position: relative;
  left: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2000px;
  width: 1000px;
}

#nav {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
}

.nav__link {
  list-style: none;
  margin: 20px 0;
}
.nav__link-a {
  color: #73354a;
}
.nav__cat {
  width: 200px;
  height: 400px;
}

#footer {
  background: #eee;
  padding-top: 50px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
.footer__img {
  width: 50px;
  height: 50px;
  color: #eee;
}
.footer__title {
  color: #7B897D;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
  padding: 10px 0;
}
.footer__text {
  padding-top: 10px;
  width: 290px;
  color: #7B897D;
  font-family: OpenSans, sans-serif;
}
.footer__text-span {
  color: #495D4C;
  font-size: 20px;
  font-weight: 500;
}
.footer__number {
  color: #7B897D;
  font-family: OpenSans, sans-serif;
  font-weight: 400;
}
.footer__logo {
  width: 60px;
  height: 60px;
}
.footer__headline {
  position: relative;
  right: 70px;
  font-family: OpenSans, sans-serif;
  color: #495D4C;
  font-weight: 500;
}
.footer__wrap {
  width: 600px;
  display: flex;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body.dark-theme {
  color: #eee;
  background: #121212;
}
body.dark-theme a {
  color: #eee;
}