#header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
}

.header{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    &__img{
        width: 48px;
        height: 48px;
    }
    &_fixed{
        // color: gray;
    transition: all 0.5s ease;
    }
    &__button{
        cursor: pointer;
        padding: 15px;
        border: 2px solid $header-btn-border;
        border-radius: 15px;
            transition: all 0.2s ease;
            background: $white-color;
            color: $black-color;
        &:hover{
            transition: all 0.2s ease;
            background: $header-btn-border;
            color: $white-color;
        }
    }
    &__link{
        margin: 0 10px;
        color: $header-btn-border;
    }
    &__btn{
    // margin-left: 20px;
      width: 24px;
      height: 24px;
      position: relative;
      border: none;
      background: transparent;
      right: 50px;
      cursor: pointer;
      &-sun {
        position: absolute;
        display: none;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
      }
      &-moon  {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
      }
    }
    &__whatsapp{
        cursor: pointer;
        position: relative;
        top: 10px;
        right: 50px;
        z-index: -1;
        background: transparent;
        border: 1px solid transparent;
        &-img{

            width: 30px;
            height: 30px;
            background-image: none;
            background: transparent;
        }
        transition: all 0.3s ease;
    }
    &__telegram{
        cursor: pointer;
        position: relative;
        top: 10px;
        right: 150px;
        z-index: -1;
        background: transparent;
        border: 1px solid transparent;
        &-img{
            width: 30px;
            height: 30px;
            background-image: none;
            background: transparent;
        }
        transition: all 0.3s ease;

    }
}
.sun{
    display: block;
}
.moon{
    display: none;
}
.active{
    transition: all 0.3s ease;
    transform: translateY(50px);
}