#hero{
    // margin-top: 100px;
    // position: relative;
    height: 100vh;
    // margin-bottom: 100px;
    background: url(../img/п.jpg)no-repeat center/cover;
}
.hero{
    padding-top: 107px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__wrap{
        width: 600px;
    }
    &__title{
    padding-top: 107px;
    padding-left: 70px;
        font-family: $font-open-sans;
        font-size: 100px;
        font-weight: 200;
    }
    &__linked{
        display: none;
    }
    &__subtitle{
        position: relative;
        font-family: $font-open-sans;
        font-size: 20px;
        font-weight: 400;
        left: 50px;
    }
}